Box sizing rules *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/*Set core root defaults*/
html:focus-within {
  scroll-behavior: smooth;
}

/*Set core body defaults*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*////////////////////////////////////////////////////////////////////////////////////
////////////////////////// STYLES /////////////////////////////////////////////////*/
:root {
  --main-text-color: #5a5558;
  --footernav-color: #c4c4c4;
  --jowita-color: #b1b3c9;
}

body {
  font-family: "Archivo", sans-serif;
}
.nav-background {
  width: 100vw;
  background-color: var(--footernav-color);
  grid-column: 1/7;
  grid-row: 1/2;
  z-index: 4;
}
.menu {
  font-family: Archivo;
  font-size: 0.8rem;
  grid-column: 5;
  grid-row: 1/2;
  justify-self: center;
  display: none;
}

.logo {
  min-width: 30vw;
  grid-column: 2/4;
  align-self: center;
  grid-row: 1/2;
  padding: 0.2rem 0rem 0.2rem 0rem;
  z-index: 5;
}
.hamburger {
  /* position: sticky; */
  grid-column: 5;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  transition: 0.3s ease;
  z-index: 4;
}
/* #menu-box:hover {
  cursor: pointer;
} */
/* .menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}
.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
} */
.bar {
  width: 2rem;
  height: 3px;
  display: block;
  border-radius: 5px;
  background-color: #f7fffe;
  margin-top: 6px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.change {
  display: block;
}
.change .bar {
  background-color: #5a5558;
}

.change #bar1 {
  transform: translateY(9px) rotateZ(-45deg);
  transition: background-color 2s ease-out;
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-9px) rotateZ(45deg);
  transition: background-color 2s ease-out;
}

.container-height {
  min-height: 95vh;
}

.title {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 8vw;
  line-height: 100%;
  letter-spacing: -0.025em;
  font-kerning: auto;
  color: #fc1a2e;
  grid-column: 2/6;
  grid-row: 2/3;
  z-index: 3;
  padding-block: 1rem;
}
.subtitle {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 300;
  font-size: 6vw;
  font-kerning: auto;
  line-height: 109.3%;
  letter-spacing: -0.035em;
  color: var(--main-text-color);
  grid-column: 2/6;
  z-index: 3;
  grid-row: 3/4;
  align-self: start;
  padding-block: 1rem;
}

.name {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 9vw;
  font-kerning: auto;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  grid-column: 2/6;
  justify-self: center;
  align-self: end;
  grid-row: 5;
  z-index: 3;
}
.wrapper {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  max-width: 100vw;
  height: 100vh;
}
section {
  max-width: 100vw;
  min-height: 100vh;
  /* scroll-snap-align: start; */
}

.jowita {
  display: grid;
  background-color: #c6d1cf;
  column-gap: 0.5rem;
  grid-template-columns: 30px repeat(4, minmax(10vw, 2fr)) 30px;
  justify-content: center;
}
.elipse {
  background-color: rgb(253, 253, 253);
  z-index: 2;
  justify-content: center;
  grid-column: 2/6;
  grid-row: 1/7;
  clip-path: ellipse(40% 31% at 55% 85%);
}
.photowrap {
  grid-row: 6/7;
  grid-column: 2/6;
  width: 55vw;
  justify-self: center;
  align-self: end;
  z-index: 3;
}

.button-hero {
  display: inline-block;
  grid-row: 4;
  grid-column: 2/6;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  line-height: 1.6rem;
  font-size: 5vw;
  color: white;
  background-color: #fc1a2e;
  border-radius: 2.5rem;
  border: 4px solid white;
  text-align: center;
  cursor: pointer;
  min-width: 70vw;
  justify-self: center;
  z-index: 4;
}
.phone {
  font-style: normal;
  font-weight: 700;
}

.testimonial {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 100%;
  text-align: left;
  color: var(--main-text-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-indent: 10%;
  letter-spacing: 0.02rem;
  grid-row: 7;
  grid-column: 2/6;
  align-self: start;
  z-index: 2;
  font-kerning: auto;
  hyphens: auto;
}
.testimonial2 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  text-align: left;
  color: var(--main-text-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-indent: 10%;
  letter-spacing: 0.02rem;
  grid-row: 7;

  align-self: start;
  z-index: 2;
  font-kerning: auto;
  display: none;
  hyphens: auto;
}

.testimonial-background {
  grid-row: 7;
  grid-column: 1/7;
  background-color: #c4c4c4;
  width: 100vw;
  min-height: 15vh;
}
.bold {
  font-weight: 600;
}
/* .testimonial-wrap {
  margin-top: 0.5rem;
  grid-column: 3/6;
  grid-row: 7;
} */

@media (min-width: 400px) {
  .button-hero {
    display: inline-block;
    grid-row: 4;
    grid-column: 2/6;
    line-height: 2rem;
    font-size: 5vw;
    min-height: 4vh;
  }
  .name {
    font-size: 7vw;
  }
  .title {
    font-size: 6vw;
    padding-block: 1rem;
  }
  .subtitle {
    font-size: 5vw;
    padding-block: 1rem;
  }
  .testimonial {
    font-size: 0.85rem;
    grid-column: 2/6;
  }
  .logo {
    min-width: 20vw;
    grid-column: 2/4;
    align-self: center;
    grid-row: 1/2;
    padding-block: 0.5rem;
  }
}

@media (min-width: 541px) {
  .button-hero {
    grid-column: 2/6;
    line-height: 2rem;
    font-size: 4vw;
    min-height: 4vh;
    min-width: 60vw;
  }

  .menu {
    list-style: none;
    display: inline;
    color: var(--main-text-color);

    gap: 2rem;
    font-size: 2.5vw;
    font-weight: 700;
    justify-self: end;
    align-self: end;
    grid-column: 4/6;
    grid-row: 1/2;
    z-index: 4;
  }
  .menu li {
    display: inline;
    margin-inline: 1rem;
    font-size: 2vw;
  }

  .hamburger {
    display: none;
  }
  nav ul {
    padding: 0;
    margin-bottom: 0.5rem;
    align-self: end;
  }
}

@media (min-width: 700px) {
  .button-hero {
    grid-column: 2/5;
    grid-row: 4/5;
    line-height: 2rem;
    font-size: 3vw;
    min-height: 3vh;
    max-height: 8.5vh;
    min-width: 40vw;
    justify-self: start;
  }
  .elipse {
    background-color: rgb(253, 253, 253);
    z-index: 2;
    justify-content: end;
    grid-column: 3/7;
    grid-row: 1/7;
    clip-path: ellipse(40% 85% at 84% 85%);
  }

  .name {
    font-size: 5vw;
    color: var(--main-text-color);
    grid-column: 2/5;
    justify-self: start;
    align-self: end;
  }
  .title {
    font-size: 7vw;
  }
  .subtitle {
    font-size: 4.5vw;
  }
  .photowrap {
    grid-row: 2/7;
    grid-column: 4/6;
    width: 50vw;
    justify-self: end;
    align-self: end;
    z-index: 2;
  }
  .testimonial {
    padding: 1rem;
    font-size: 1rem;
    grid-column: 2/4;
  }
  .testimonial2 {
    padding: 1rem;
    display: block;
    font-size: 1rem;
    grid-column: 4/6;
    grid-row: 7/8;
  }
}

@media (min-width: 900px) {
  .button-hero {
    grid-column: 2/5;
    grid-row: 4/5;
    line-height: 2rem;
    font-size: 3vw;
    min-height: 5vh;
    max-height: 15vh;
    min-width: 40vw;
    justify-self: start;
  }
  .name {
    font-size: 5vw;
  }
  .title {
    font-size: 7vw;
  }
  .subtitle {
    font-size: 4.5vw;
  }
  .photowrap {
    grid-row: 2/7;
    grid-column: 4/6;
    width: 40vw;
    justify-self: end;
    align-self: end;
    z-index: 2;
  }
  .testimonial {
    font-size: 1.3rem;
  }
  .testimonial2 {
    font-size: 1.3rem;
  }
  .menu li {
    display: inline;
    margin-inline: 1rem;
    font-size: 1.2rem;
  }

  .elipse {
    background-color: rgb(253, 253, 253);
    z-index: 2;
    justify-content: center;
    grid-column: 4/8;
    grid-row: 1/7;
    clip-path: ellipse(55% 70% at 76% 49%);
  }
}

@media (min-width: 1100px) {
  .title {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 2.5rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .button-hero {
    font-size: 1.5rem;
    min-width: 30vw;
  }
  .testimonial {
    font-size: 1rem;
  }
  .testimonial2 {
    font-size: 1rem;
  }

  .photowrap {
    width: 33vw;
  }
  .jowita {
    grid-template-columns: 100px repeat(4, minmax(10vw, 2fr)) 100px;
  }
}

@media (min-width: 1200px) {
  .button-hero {
    line-height: 3.5rem;
    font-size: 3vw;
    min-height: 5vh;
    max-height: 15vh;
    min-width: 35vw;
    justify-self: start;
  }
  .jowita {
    grid-template-columns: 60px repeat(4, minmax(10vw, 2fr)) 60px;
    justify-content: center;
  }
  .name {
    font-size: 2rem;
    color: var(--main-text-color);
    grid-column: 2/5;
    justify-self: start;
    align-self: start;
    grid-row: 5/6;
  }
  .title {
    font-size: 4rem;
    grid-row: 2/3;
  }
  .subtitle {
    font-size: 3rem;
    grid-row: 3/4;
  }
  .photowrap {
    grid-row: 2/7;
    grid-column: 4/8;
    width: 35vw;
    justify-self: center;
    align-self: end;
    z-index: 4;
  }
  .testimonial-background {
    grid-row: 6/7;
  }
  .testimonial {
    font-size: 0.9rem;
    grid-column: 2/3;
    grid-row: 6/7;
    z-index: 4;
  }
  .testimonial2 {
    display: block;
    font-size: 0.9rem;
    grid-column: 3/4;
    grid-row: 6/7;
    z-index: 4;
  }
  .menu {
    justify-self: start;
    align-self: end;
    grid-column: 5/7;
    grid-row: 1/2;
    z-index: 3;
  }
  .menu li {
    display: inline;
    margin-inline: 1rem;
    font-size: 1.2rem;
    z-index: 3;
  }
  .nav-background {
    z-index: 3;
  }
  .testimonial-background {
    z-index: 1;
  }
  .logo {
    min-width: 15vw;
  }

  .jowita {
    grid-template-columns: 100px repeat(4, minmax(10vw, 2fr)) 100px;
  }
  .elipse {
    background-color: rgb(253, 253, 253);
    z-index: 2;
    justify-content: center;
    grid-column: 4/8;
    grid-row: 1/7;
    clip-path: ellipse(55% 70% at 76% 49%);
  }
}
@media (min-width: 1900px) {
  .jowita {
    grid-template-columns: 250px repeat(4, minmax(10vw, 2fr)) 250px;
  }
  .button-hero {
    grid-column: 2/5;
    grid-row: 4/5;
    line-height: 3rem;
    font-size: 3rem;
    min-height: 5vh;
    max-height: 12vh;
    min-width: 28vw;
    justify-self: start;
  }
  .name {
    font-size: 4rem;
  }
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 4rem;
  }
  .photowrap {
    width: 40vw;
  }
  .logo {
    min-width: 11vw;
  }
}
/* ///////////////////////////OPINE /////////////////////// */
.opinie {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  background-color: #c6d1cf;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  /* grid-template-rows: repeat(4, auto-fit); */
}
.opinia-card {
  background-color: #c4c4c4;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-size: 0.85rem;
  margin: auto;
  border-radius: 5px;
  /* max-height: 40vh; */
  max-width: 45ch;
  text-indent: 10%;
}
.opinia {
  margin: auto;
  hyphens: auto;
}
span {
  font-weight: bold;
  position: relative;
  margin-left: 15px;
}
.grid-column-middle {
  grid-column: 2/3;
}
@media (min-width: 600px) {
  .opinia-card {
    font-size: 1.2rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    max-width: 45ch;
  }
  .opinie {
    grid-template-columns: 10rem repeat(1, 1fr) 10rem;
    grid-gap: 1em;
  }

  .op1 {
    grid-row: 1;
  }
  .op2 {
    grid-row: 2;
  }
  .op3 {
    grid-row: 3;
  }
  .op4 {
    grid-row: 4;
  }

  @media (min-width: 1024px) {
    .opinia-card {
      font-size: 1.3rem;
      max-width: 65ch;
    }
  }
  @media (min-width: 1200px) {
    .opinia-card {
      font-size: 1.3rem;
      max-width: 55ch;
    }
  }
  @media (min-width: 1919px) {
    .opinia-card {
      font-size: 2rem;
      max-width: 55ch;
    }
  }
}

/*//////////////////////////////// USLUGI  /////*/
ul {
  list-style: none;
}

.uslugi-title {
  display: none;
}

.uslugi {
  display: grid;
  width: 100vw;
  background-color: #c7ccdb;
  align-items: center;
  grid-template-columns: 30px repeat(7, 1fr) 30px;
  grid-template-rows: repeat(3, 0, 5fr);
  /* gap: 0.5rem; */
}

.first-aid {
  display: block;
  width: 40vw;
  margin: auto;
}
.nursing {
  display: block;
  width: 40vw;
  margin: auto;
}
.card1 {
  margin: auto;
  margin-bottom: 0.5rem;
  background-color: var(--jowita-color);
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 1rem;
  grid-row: 1/3;
  grid-column: 2/9;
  /* filter: drop-shadow(0px 4px 4px rgba(46, 53, 66, 0.25)); */
}
.card2 {
  margin: auto;
  margin-block: 0.5rem;
  background-color: var(--jowita-color);
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 1rem;
  grid-row: 3/4;
  grid-column: 2/9;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.uslugi1 {
  font-size: 1rem;
  color: var(--main-text-color);
}

.uslugi2 {
  font-size: 1rem;
  color: var(--main-text-color);
}

@media (min-width: 600px) {
  .card1 {
    grid-row: 1/2;
    grid-column: 3/8;
  }

  .card2 {
    grid-row: 2/3;
    grid-column: 3/8;
  }
  .first-aid {
    width: 40vw;
  }
  .uslugi {
    gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .card1 {
    grid-row: 1/2;
    grid-column: 3/8;
    margin: 0;
  }

  .card2 {
    grid-row: 2/3;
    grid-column: 3/8;
    margin: 0;
  }
  .first-aid {
    width: 40vw;
  }
  .uslugi {
    gap: 0.5rem;
  }

  .uslugi1 {
    font-size: 1.6rem;
  }

  .uslugi2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .uslugi-title {
    display: block;
    color: var(--main-text-color);
    margin: auto;
    grid-row: 1;
    grid-column: 5/6;
    font-size: 2rem;
  }
  .card1 {
    grid-row: 1/4;
    grid-column: 2/5;
  }
  .card2 {
    grid-row: 1/4;
    grid-column: 6/9;
  }
  .uslugi1 {
    font-size: 1.2rem;
  }

  .uslugi2 {
    font-size: 1.2rem;
  }
  .first-aid {
    width: 35vw;
  }
  .nursing {
    width: 35vw;
  }
  .uslugi {
    grid-template-columns: 100px repeat(7, 1fr) 100px;
  }
}
@media (min-width: 1400px) {
  .uslugi1 {
    font-size: 1.2rem;
  }

  .uslugi2 {
    font-size: 1.2rem;
  }
  .first-aid {
    width: 30vw;
  }
  .nursing {
    width: 30vw;
  }
  .uslugi {
    grid-template-columns: 200px repeat(7, 1fr) 200px;
  }
}
@media (min-width: 1900px) {
  .uslugi1 {
    font-size: 1.6rem;
  }

  .uslugi2 {
    font-size: 1.6rem;
  }
}

/* //////////////////////////////// ABOUT  /////////////////////////////////////////////////// */
.omnie {
  display: grid;
  background-color: #dbcfc7;
  grid-template-columns: 30px repeat(7, 1fr) 30px;
  grid-template-rows: repeat(3, 1fr);
}
.card1-about {
  background-color: #ffede1;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-block: 0.5rem;
  grid-row: 1/4;
  grid-column: 2/9;
  margin-block: 0.9rem;
  z-index: 5;

  /* filter: drop-shadow(0px 4px 4px rgba(46, 53, 66, 0.25)); */
}
.omnie-title {
  display: none;
}
.motto {
  color: var(--main-text-color);
  font-weight: 700;
  padding-left: 1rem;
  text-transform: capitalize;
}
.heart {
  margin: auto;
  margin-top: 1rem;
  grid-row: 1/3;
  grid-column: 5/6;
  width: 30vw;
}
.about {
  grid-column: 1/9;
  grid-row: 2;
  color: var(--main-text-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul {
  list-style-type: disc;
  grid-column: 1/8;
  grid-row: 3/5;
  color: var(--main-text-color);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.tube {
  width: 25vw;
  grid-column: 3/5;
  grid-row: 5/6;
  display: block;
  margin: auto;
}
.doctor {
  display: none;
}

@media (min-width: 700px) {
  .card1-about {
    grid-column: 3/8;
    grid-row: 1;
  }
  .tube {
    margin: auto;
    margin-top: 7rem;
    width: 20vw;
  }
  .omnie {
    grid-template-rows: 1fr;
  }
  .about {
    margin-top: 7rem;
  }
}

@media (min-width: 1024px) {
  .tube {
    display: none;
  }
  .heart {
    display: none;
  }
  .doctor {
    display: block;
    grid-column: 3/8;
    grid-row: 1/3;
    z-index: 5;
    width: 55vw;
    align-self: end;
    justify-self: center;
  }
  .card1-about {
    grid-row: 1;
    grid-column: 3/8;
    align-self: center;
  }
  ul {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .omnie {
    grid-template-rows: repeat(2, 1fr);
  }
  .doctor-background {
    grid-row: 1/3;
    grid-column: 3/8;
    background-color: #ffede1;
    z-index: 1;
    border-radius: 10px;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .doctor {
    display: block;
    grid-column: 5/10;
    grid-row: 1/-1;
    z-index: 5;
    width: 55vw;
    align-self: end;
    justify-self: end;
  }
  .card1-about {
    grid-row: 1;
    grid-column: 2/6;
    align-self: center;
  }
  ul {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .omnie {
    grid-template-rows: 1fr;
  }
  .doctor-background {
    display: none;
  }
  .elipse-doctor {
    background-color: rgb(253, 253, 253);
    z-index: 2;

    justify-content: center;
    grid-column: 4/10;
    grid-row: 1;
    clip-path: ellipse(45% 90% at 90% 49%);
  }
}

@media (min-width: 1900px) {
  .motto {
    padding-inline: 5rem;
    font-size: 1.6rem;
  }
  ul {
    padding: 5rem;
    font-size: 1.8rem;
  }
}

/* //////////////////////////////////KONTAKT  ///////////////////////////////////////////////// */
.kontakt {
  display: grid;
  background-color: #c6d1cf;
  grid-template-columns: 2rem repeat(5, 1fr) 2rem;
  gap: 0.5rem;
}
.kontakt-title {
  display: none;
}

.contact-us {
  display: block;
  grid-column: 3/6;
  width: 60vw;
  grid-row: 8;
}
.ft-weight-700 {
  font-weight: 700;
}
.name-contact {
  font-family: "Archivo";
  font-size: 6vw;
  font-kerning: auto;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-text-color);
  grid-column: 2/6;
  grid-row: 3;
  align-self: end;
}
.title-contact {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 8vw;
  line-height: 100%;
  letter-spacing: -0.025em;
  font-kerning: auto;
  color: #fc1a2e;
  grid-column: 2/6;
  grid-row: 4;
}
.mail {
  align-self: center;
  width: 10vw;
  grid-column: 2;
  grid-row: 5;
  cursor: pointer;
}
#mail-text {
  grid-column: 3/5;
  align-self: center;
  grid-row: 5;
  color: var(--main-text-color);
  cursor: pointer;
}
.phone-icon {
  align-self: center;
  grid-column: 2;
  grid-row: 6;
  cursor: pointer;
}
#phone-text {
  grid-column: 3/6;
  align-self: center;
  grid-row: 6;
  color: var(--main-text-color);
  cursor: pointer;
}

.facebook {
  align-self: center;
  grid-column: 2;
  width: 10vw;
  grid-row: 7;
  cursor: pointer;
}

#facebook-text {
  grid-column: 3/6;
  align-self: center;
  grid-row: 7;
  color: var(--main-text-color);
  cursor: pointer;
  text-decoration: underline;
}

.button-footer {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  line-height: 6vw;
  font-size: 5vw;
  color: white;
  background-color: #fc1a2e;
  border-radius: 2.5rem;
  border: 4px solid white;
  text-align: center;
  cursor: pointer;
  grid-column: 2/7;
  grid-row: 2;
}
.logo-footer {
  width: 20vw;
  align-self: center;
  grid-column: 2/4;
  grid-row: 9;
  z-index: 2;
}
.copyrights {
  color: var(--main-text-color);
  font-size: 0.7rem;
  grid-column: 2/7;
  grid-row: 10;
  justify-self: center;
  align-self: end;
  z-index: 2;
}
.footer-background {
  display: block;
  background-color: var(--footernav-color);
  width: 100vw;
  grid-column: 1/8;
  grid-row: 9/11;
  z-index: 1;
}

@media (min-width: 700px) {
  .button-footer {
    grid-column: 3/6;
  }
  #mail-text {
    font-size: 1.6rem;
  }
  .mail {
    max-width: 3.5rem;
  }

  #phone-text {
    font-size: 1.6rem;
  }
  .phone-icon {
    min-width: 3rem;
  }

  #facebook-text {
    font-size: 1.6rem;
  }
  .facebook {
    max-width: 3rem;
  }
}

@media (min-width: 1200px) {
  .button-footer {
    grid-column: 2/4;
    grid-row: 6/7;
    max-height: 20vh;
    max-width: 35vw;
    font-weight: 800;
    line-height: 4vw;
    font-size: 3vw;
  }
  .kontakt {
    grid-template-columns: 6rem repeat(5, 1fr) 6rem;
  }

  .phone-icon {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
  }
  #phone-text {
    font-size: 1.6rem;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
    grid-row: 4/5;
  }
  #facebook-text {
    font-size: 1.6rem;
    text-decoration: underline;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
    grid-row: 5/6;
  }
  .facebook {
    grid-row: inherit;
    max-width: 3.5rem;
    justify-self: center;
  }
  .contact-us {
    margin: 0;
    display: block;
    grid-column: 4/7;
    justify-self: center;
    align-self: end;
    max-width: 37vw;
    grid-row: 1/6;
  }
  .name-contact {
    padding-top: 3rem;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: start;
    align-self: end;
    font-size: 3rem;
  }
  .title-contact {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 3.5rem;
    align-self: end;
    justify-self: start;
  }
  .mail {
    grid-row: 3/4;
    max-width: 4rem;
    justify-self: center;
  }
  #mail-text {
    font-size: 1.6rem;
    grid-column: 3/4;
    justify-self: start;
    align-self: center;
    grid-row: 3/4;
  }

  .logo-footer {
    width: 15vw;
    align-self: center;
    grid-column: 2/4;
    grid-row: 7/8;
    z-index: 2;
  }

  .copyrights {
    font-size: 1rem;
    grid-column: 2/7;
    grid-row: 7/8;
  }

  .footer-background {
    grid-row: 7/8;
    max-height: 20vh;
  }
}
